<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="center center-text flex-row space-around">

    <div id="notes-panel" class="flex-column align-center rm-right border">
        <div class="center-text section-title rm-top rm-left rm-right border">
            <p class="title-background">{{current_weekday}} {{current_date}}</p>
            <p class="section-title">Notes</p>
         </div>
            <textarea id="notes-area" type="text"></textarea>
    </div>
    
    <div id="tasks-panel" class="flex-column border">
        <div id="date-selector" class="flex-row space-around rm-left rm-right rm-top border">
        </div>
        <div id="things-to-do">
             <div class="section-title flex-row space-bet task">
                <p class="">Incomplete Tasks</p>
                <div>
                    <button class="btn" onclick="deletionMode()" type="button"><img src="{{ url_for('static', filename='img/bxs-edit-alt.svg')}}" alt="add new task button"></button>
                <button class="btn" onclick="isInputActive()" type="button"><img src="{{ url_for('static', filename='img/bxs-edit-alt.svg')}}" alt="add new task button"></button>
                </div>
             </div>
             <div id="current-task-container">
             </div>
        </div>
        <div id="things-completed">
             <div class="section-title flex-row space-bet">
                <p class="">Completed Tasks</p>
                <img src="{{ url_for('static', filename='img/bxs-edit-alt.svg')}}" alt="add new task button">
             </div>
             <div id="completed-task-container">
                <div class="task flex-row space-bet">
                    <p>commit to git without a .gitignore</p>
                    <img src="{{ url_for('static', filename='img/bx-radio-circle-marked.svg')}}" alt="complete task radio button">
                 </div>
                 <hr>
                 <div class="task flex-row space-bet">
                    <p>feel like an idiot</p>
                    <img src="{{ url_for('static', filename='img/bx-radio-circle-marked.svg')}}" alt="complete task radio button">
                 </div>
                 <hr>
             </div>
        </div>
    </div>

    <div id="calendar-panel" class="flex-column">
        <div class="section-title rm-left border">
            <p class="title-background">Calendar</p>
        </div>
        <div id="calendar-container" class="rm-left rm-top border flex-row wrap just-center">

        </div>
    </div>

</body>   

<script>
    const weekDay = {{ current_weekday|tojson }};
    const weekDayAb = {{ current_weekday_ab|tojson }};
    const currentDate = {{ current_date|tojson }};
</script>
<script src="{{url_for('static', filename='js/db.js')}}"></script>
<script src="{{url_for('static', filename='js/date-script.js')}}"></script>
<script src="{{url_for('static', filename='js/button-script.js')}}"></script>
</html>