<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="center center-text flex-row space-around">
    
    <div id="main-panel" class="flex-column border">
        <div id="date-selector" class="flex-row">
            <!-- <div class="circle">
                <div class="circle-text">{{current_weekday_ab}}<br>{{current_date}}</div>
            </div>
            <div class="circle">
                <div class="circle-text">{{current_weekday_ab}}<br>{{current_date}}</div>
            </div>
            <div class="circle">
                <div class="circle-text">{{current_weekday_ab}}<br>{{current_date}}</div>
            </div>
            <div class="circle">
                <div class="circle-text">{{current_weekday_ab}}<br>{{current_date}}</div>
            </div>
            <div class="circle">
                <div class="circle-text">{{current_weekday_ab}}<br>{{current_date}}</div>
            </div>
            <div class="circle">
                <div class="circle-text">{{current_weekday_ab}}<br>{{current_date}}</div>
            </div> -->
        </div>
        <div id="things-to-do">
             <div class="section-title flex-row space-bet task">
                <p class="">Incomplete Tasks</p>
                <button class="btn" onclick="isInputActive()" type="button"><img src="{{ url_for('static', filename='img/bxs-edit-alt.svg')}}" alt="add new task button"></button>
             </div>
             <div id="current-task-container">
                 <div class="task flex-row space-bet">
                    <p>Make database</p>
                   <button class="btn" onclick="setAsComplete()" type="button"> <img src="{{ url_for('static', filename='img/bx-radio-circle.svg')}}" alt="complete task radio button"></button>
                 </div>
                 <hr>
             </div>
        </div>
        <div id="things-completed">
             <div class="section-title flex-row space-bet">
                <p class="">Completed Tasks</p>
                <img src="{{ url_for('static', filename='img/bxs-edit-alt.svg')}}" alt="add new task button">
             </div>
             <div id="completed-task-container">
                <div class="task flex-row space-bet">
                    <p>commit to git without a .gitignore</p>
                    <img src="{{ url_for('static', filename='img/bx-radio-circle-marked.svg')}}" alt="complete task radio button">
                 </div>
                 <hr>
                 <div class="task flex-row space-bet">
                    <p>feel like an idiot</p>
                    <img src="{{ url_for('static', filename='img/bx-radio-circle-marked.svg')}}" alt="complete task radio button">
                 </div>
                 <hr>
             </div>
        </div>
    </div>
    
    <div id="second-panel" class="flex-column align-center">
        <div class="center-text section-title border">
            <p class="title-background">{{current_weekday}} {{current_date}}</p>
            <p class="section-title">Notes</p>
         </div>
            <textarea id="notes-area" type="text">When clicking on a date, open second panel with the date selected.</textarea>
    </div>

</body>   

<script>
    const weekDay = {{ current_weekday|tojson }}
    const weekDayAb = {{ current_weekday_ab|tojson }}
    const currentDate = {{ current_date|tojson }}
</script>
<script src="{{url_for('static', filename='js/date-script.js')}}"></script>
<script src="{{url_for('static', filename='js/button-script.js')}}"></script>
</html>